

<img src="../assets/sky.png">

<hr style="width:100%;text-align:left;margin-left:0">


<div class="container">
  <div class="grid" *ngFor="let i of flightsData.itineraries">
    <div class="item">
    

      
        <div  class="logo1">
          <img src={{logoReturn(findLeg(i.legs[0]).airline_id)}}/> 
        </div>
        <div  class="hour1">{{findLeg(i.legs[0]).departure_time| date:'H:mm'}}</div>
        <div  class="hez1"><i class="fa fa-arrow-right fa-lg"></i></div>
        <div  class="hour2">{{findLeg(i.legs[0]).arrival_time| date:'H:mm'}}</div>
        <div  class="long1">{{time_convert(findLeg(i.legs[0]).duration_mins)}}</div>
        <div  class="from1">{{findLeg(i.legs[0]).departure_airport}}</div>
        <div  class="to1">{{findLeg(i.legs[0]).arrival_airport}}</div>
        <div  [ngClass]="{'direct1': findLeg(i.legs[0]).stops === 0, 'direct22': findLeg(i.legs[0]).stops === 1}">{{findStop(findLeg(i.legs[0]).stops)}}</div>

  
      <div class="logo2">
        <img src={{logoReturn(findLeg(i.legs[1]).airline_id)}}/> 
      </div>
      <div class="hour3">{{findLeg(i.legs[1]).departure_time| date:'H:mm'}}</div>
      <div class="hez2"><i class="fa fa-arrow-right fa-lg"></i></div>
      <div class="hour4">{{findLeg(i.legs[1]).arrival_time| date:'H:mm'}}</div>
      <div class="long2">{{time_convert(findLeg(i.legs[1]).duration_mins)}}</div>
      <div class="from2">{{findLeg(i.legs[1]).departure_airport}}</div>
      <div class="to2">{{findLeg(i.legs[1]).arrival_airport}}</div>
      <div [ngClass]="{'direct2': findLeg(i.legs[1]).stops === 0, 'direct333': findLeg(i.legs[1]).stops === 1}">{{findStop(findLeg(i.legs[1]).stops)}}</div>
      
      <div class="price">{{i.price}}</div>
      <div class="select">
        <button mat-raised-button color="primary">Select</button>
      </div>
      <div class="web">{{i.agent}}</div>
       

    </div>
    <div></div>
  </div>
</div>






<router-outlet></router-outlet>